*{
    box-sizing: border-box;
    font-size: 100%;
}

.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
}

.logo{
    width: 150px;
    cursor: pointer;
}

.nav-items{
    padding: 0 40px;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li {
    font-size: 1rem;
    padding: 1em;
    margin: 1em;
    cursor: pointer;
}

.restaurant-card{
    width: 280px;
    height: 400px;
    border-radius: 0.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 0.5rem 1.25rem;
    cursor: pointer;
}

.restaurant-img-container{
    height: 200px;
    border-radius: 0.5rem 0.5rem 0 0;
    object-fit: cover;
    background-color: #e3e3e3;
}

.restaurant-img{
    height: 100%;
    width: 100%;
    border-radius: 0.5rem 0.5rem 0 0;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.restaurant-info{
    padding: 0.25rem;
}

.restaurant-container{
    display: flex;
    flex-wrap: wrap;
}

.btn {
    cursor: pointer;
    margin: 0.5rem 1.25rem;
}

.btn-filter{
    border-radius: 1.125rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(226, 226, 231);
    padding: 9px 12px;
    display: inline-grid;
    width: max-content;
    grid-auto-flow: column;
    gap: 8px;
    box-shadow: rgba(2, 6, 12, 0.04) 0px 2px 4px;
    transition: all 100ms ease-in 0s;
}

.shimmer-container{
    display:  flex;
    flex-wrap: wrap;
}

.btn-login {
    padding: 0 1em;
    background: none;
    border: 0;
    width: 5em;
    cursor: pointer;
}

.input-search{
    border: 1px solid #e3e3e3;
    outline: none;
}

a{
    text-decoration: none;
}

.promoted {
    position: absolute;
    margin-top: 0.5rem;
    margin-left: 1rem;
    padding: 0.25rem 1rem;
    background-color: rgb(239, 235, 235);
    color: rgb(88, 87, 87);
    border-radius: 0.5rem 0 0 0;
    text-transform: uppercase;
    font-size: bold;
}

.login-container{
    width: 90vw;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form{
    height: 25rem;
    margin-left: 10rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    width: 25rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.form-controls{
    margin: 0.5rem;
    padding: 0.25rem;
    width: 15rem;
}

.form-label{
    display: block;
    font-size: 1.15rem;
    margin-bottom: 0.25rem;
    color:  #818181;
    font-weight: 500;
}

.form-item{
    border: 1px solid #9b9b9b;
    outline: transparent;
    border-radius: 0.25rem;
    padding: 0.5rem;
    width: 15rem;
    color: #818181;
    font-size: 0.85rem;
}

.btn-login-block{
    padding: 0.5em 1rem;
    text-transform: uppercase;
    line-height: 1.5;
    display: block;
    background-color: rgb(138, 43, 226);
    border: none;
    border-radius: 0.25rem;
    color: #fff;
    box-shadow: rgba(138, 43, 226, 0.2) 0 8px 24px;
}