*{
    box-sizing: border-box;
    font-size: 100%;
}

.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
}

.logo{
    width: 150px;
    cursor: pointer;
}

.nav-items{
    padding: 0 40px;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li {
    font-size: 1rem;
    padding: 1em;
    margin: 1em;
    cursor: pointer;
}

.restaurant-card{
    width: 280px;
    height: 400px;
    border-radius: 0.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 0.5rem 1.25rem;
    cursor: pointer;
}

.restaurant-img-container{
    height: 200px;
    border-radius: 0.5rem 0.5rem 0 0;
    object-fit: cover;
    background-color: #e3e3e3;
}

.restaurant-img{
    height: 100%;
    width: 100%;
    border-radius: 0.5rem 0.5rem 0 0;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.restaurant-info{
    padding: 0.25rem;
}

.restaurant-container{
    display: flex;
    flex-wrap: wrap;
}

.btn {
    cursor: pointer;
    margin: 0.5rem 1.25rem;
}

.btn-filter{
    border-radius: 1.125rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(226, 226, 231);
    padding: 9px 12px;
    display: inline-grid;
    width: max-content;
    grid-auto-flow: column;
    gap: 8px;
    box-shadow: rgba(2, 6, 12, 0.04) 0px 2px 12px;
    transition: all 100ms ease-in 0s;
}